<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.runkevich8.gmail.test">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.runkevich8.gmail.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".homework.HomeworkMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".classwork.classwork9.Classwork9Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>
        <activity android:name="com.runkevich8.gmail.presentation.screens.user.UserActivity" />
        <activity android:name=".classwork.classwork7.Classwork7Activity"
            android:parentActivityName=".homework.HomeworkMain">
        </activity>


        <activity android:name=".homework.hw9.Homework9Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>
        <activity android:name=".homework.hw8.Homework8Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>

        <activity android:name=".homework.hw7.Homework7Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>
        <activity android:name=".homework.hw6.Homework6Activity"
            android:parentActivityName=".homework.HomeworkMain">
        </activity>

        <receiver android:name=".homework.hw5.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>

        </receiver>
        <activity android:name=".homework.hw5.Homework5Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>

        <activity android:name=".homework.hw4.Homework4Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>
        <activity android:name=".homework.hw3.Homework3Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>

        <activity android:name=".homework.hw2.Homework2Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>
        <activity android:name=".homework.hw1.Homework1Activity"
            android:parentActivityName=".homework.HomeworkMain">

        </activity>


        <activity android:name=".classwork.classwork2.Classwork2Activity"
            android:parentActivityName=".classwork.classwork1.Classwork1Activity">

        </activity>
        <activity android:name=".classwork.classwork6.Classwork6Activity">

        </activity>

        <receiver android:name=".classwork.classwork5.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <service android:name=".classwork.classwork5.MyService" />
        <service android:name=".classwork.classwork5.MyIntentService" />
    </application>
</manifest>
